@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.Menu {
    background-color: rgb(44, 44, 44);
    padding: 10px 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

.Menu > img {
    max-width: 50px;
} 

.background-imag {
    background: black url(../img/Imagem\ .jpg);
    height: 25.99em;
    background-position: center center;
    background-attachment: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.background-imag h1 {
    font-size: 4em;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
}

.texte {
    margin: auto;
    max-width: 50em;
    padding: 20px;
}

.texte h1 {
    font-size: 2em;
    padding-top: 70px;
}

.texte p {
    padding-top: 20px ;
}