@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

#container {
    background-color: rgb(34, 20, 2);
    height: 230px;
    padding-top: 40px;
    text-align: center;
}

#container h1 {
    color: aliceblue;
    font-size: 7em;
    padding-bottom: 10px;
    font-family: var(--fonte3);
}

#container p {
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-family: var(--fonte1);
    font-weight: bolder;
}

#container a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
}

#container a:hover {
    text-decoration: underline;

}


.texto {
    margin: 70px 40px ;
    background-color: #ffff;
}

.texto p {
    line-height: 100px;
    max-width: 500px;
    font-size: 2.8em;
    font-family: var(--fonte2);
    font-style: italic;
    font-weight: bolder;
}